.select {
  display: block;
  appearance: none;
  position: relative;
  color: var(--tertiary-color);
  background-color: var(--card-color);
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  text-transform: var(--h6-text-transform);
  font-weight: var(--h6-font-weight);
  outline: none;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 5px 1px rgb(0 0 0 / 10%);
  transition: var(--transition);
  background-size: 15px;
  cursor: pointer;

  &:hover {
    border-color: var(--primary-color);
  }
}

.select:before {
  content: 'f107';
  font-family: var(--font-awesome);
  display: inline-block;
  color: black;
  position: absolute;
  right: -5px;
  top: 2px;
  z-index: 2;
  width: 30px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #ddd;
  transform: rotate(90deg);
  cursor: pointer;
}

.select__active {
  border-color: var(--primary-color);
}

.option {
  cursor: pointer;
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 1.5em;
  word-wrap: normal;
  background-color: var(--card-color);
  border: 1px solid rgb(220, 220, 220);
  border-width: 0 0 1px 1px;
  outline: none;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 5px 1px rgb(0 0 0 / 10%);
  transition: var(--transition);
}

.option:disabled {
  color: var(--button-color-lighter);
  background-color: var(--select-bg-disabled-color);
}

.select:focus {
  border-color: var(--primary-color);
}
