.viewed-page {
  display: flex;
  flex-direction: column;
}

.viewed__top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 800px) {
    flex-direction: column;
    row-gap: 1em;
  }
}

.pagination-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 1em;

  @media (max-width: 800px) {
    flex-direction: row-reverse;
  }

  @media (max-width: 520px) {
    flex-direction: column-reverse;
    width: 100%;

    & .select {
      margin-right: auto;
    }
  }

  @media (max-width: 500px) {
    & .select {
      margin-right: 0;
      width: 100%;
    }
  }
}

.viewed__loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 100%;
}

.viewed__loader__icon {
  width: 100px;
}

.viewed__title {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  text-transform: var(--h3-text-transform);
  font-weight: var(--h3-font-weight);
  padding-top: 50px;
  margin-bottom: 30px;

  @media (max-width: 1000px) {
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
    letter-spacing: var(--h4-letter-spacing);
    text-transform: var(--h4-text-transform);
    font-weight: var(--h4-font-weight);
  }

  @media (max-width: 500px) {
    padding-top: 30px;
  }
}

.viewed__subtitle {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  text-transform: var(--h6-text-transform);
  font-weight: var(--h6-font-weight);
  white-space: nowrap;
}

.viewed__movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 2em;
  column-gap: 2.5%;
  margin-bottom: 50px;
}

.viewed-page .pagination {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    margin-right: 0;
    padding-right: 20px;
  }

  @media (max-width: 520px) {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
  }
}
