.multiselect {
  width: 300px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.range-block{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 10%;
  width: 80%;
}

.range__content{
  display: flex;
  flex-direction: column;
}

.range__title{
  margin-bottom: 20px;
}

.range-values{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.range__bar{
  width: 100%;
}

.range__line{
  position: absolute; 
  width: 100%;
}

.range-block{
  position: relative;
  height: 100px;
}

.range-block-name{
  display: block;
  padding-top: 30px;
  margin-left: 40%;
}

.title_range{
  margin: 40px;
}

.button_random_movie{
  margin-left: 350px;
}

.checkboxes_menu{
  position: absolute;
  
}