.search-page {
  display: flex;
  flex-direction: column;
}

.search__top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search__loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 100%;
}

.search__loader__icon {
  width: 100px;
}

.search__title {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  text-transform: var(--h3-text-transform);
  font-weight: var(--h3-font-weight);
  padding-top: 50px;
  margin-bottom: 30px;
}

.search__subtitle {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  text-transform: var(--h6-text-transform);
  font-weight: var(--h6-font-weight);
}

.search__movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 2em;
  column-gap: 2.5%;
  margin-bottom: 50px;
}

.search-page .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
